.vscode/
unitTesting/unitTests
unitTesting/unitTests.exe
example/bin/*
.DS_Store
local_testing/
test.cpp
glfw/
libs/*
include/GLFW/*
demo/build/*
demo/vendor/glfw3.dll
emsdk/*
.vs/*
freetype
include/freetype/*
include/ft2build.h
Passion_One.zip
main.sln
.github